

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background: #000;
    color:#fff;
}

h1 {
    font-size: 3rem;
}

.container {
    width: 90%;
    /* max-width: 1100px; */
    margin: 0 auto;
    
}
.mid {
    border-bottom: 2px solid#FFF;
    padding-bottom: 3.5em;
}

.row {
    /* display: flex => flex container */
    display: flex;
    
    margin: -20px 40px;

    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
    
}
.card {
    background: gray;
    margin: 0 20px 0 0;
    width: 80%;
    padding: 1.2em;
    
}

.hero {
    padding: 100px 0;
    /* background-color: #23424A; */
    color: #FFF;

    background-image: url("stadium.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__text {
    width: 60%;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #000;
    font-weight: 900;
    background-color: red;
    padding: .5em .75em;
    border-radius: 100px;
    margin: .3em;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}
img 
{
    width: 80%;
}
nav{
    border-bottom: 5px solid blue;
 }
  ul{
    display: flex;
    background: #000;
    color: #fff;
    
  }
  li{
    flex-direction: row;
    list-style: none;
    padding: 30px;
  }

  .third .row{
    margin: 20px 40px;
  }
.footer{
    text-align: center;
    text-decoration: none;
}
.links{
    padding-right: 20px;
    border-right: 2px solid #fff;
}